body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#discussButt:hover {
    border: none;
    background: transparent;
}

#dangerAlert, #primaryAlert {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 40%;
    left: 30%;
    z-index: 200;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-bottom: 2em;
}

.navbar {
    background-color: darkgray;
    margin-bottom: 30px;
}

.sideScroll {
    background-color: transparent;
    overflow: auto;
    white-space: nowrap;
}

.sideScroll a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sideScroll a:hover {
    background-color: #777;
}

button {
    background-color: transparent;
    border: transparent;
}

.cardButt:focus {
    outline: none !important;
}

.card-title {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.hide {
    display: none;
}

.card-body {
    white-space: normal !important;
    padding-top: 7px !important;
    padding-right: 2px !important;
    padding-left: 2px !important;
    padding-bottom: 2px !important;
}

.card:hover {
    border: 3px solid white;
}

.card {
    background-color: rgb(255, 255, 255);
}

.card-deck, .score {
    position: relative;
}

.score {
    z-index: 2;
    padding-bottom: 10px;
}

.card-deck:after {
    content: "";
    position: absolute;
    left: 90%;
    z-index: 10;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0) 90%);
    width: 10%;
    height: 100%;
}

.score:after {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    z-index: 1;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255) 90%);
    width: 100%;
    height: 50%;
}

.statusBar {
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
    color: white;
}

.score10 {
    background: rgb(0, 255, 0);
}

.score9 {
    background: rgb(0, 128, 0);
}

.score8 {
    background: rgb(47, 128, 0);
}

.score7 {
    background: rgb(68, 128, 0);
}

.score6 {
    background: rgb(105, 128, 0);
}

.score5 {
    background: rgb(128, 115, 0);
}

.score4 {
    background: rgb(128, 98, 0);
}

.score3 {
    background: rgb(128, 47, 0);
}

.score2 {
    background: rgb(128, 26, 0);
}

.score1 {
    background: rgb(128, 0, 0);
}

.score span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.score span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.score:hover span {
    padding-right: 15px;
}

.score:hover span:after {
    opacity: 1;
    right: 0;
}